body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Khand", sans-serif}
h1,.h1 { font-size: 1.4em; }
h2,.h2 { font-size: 1.7em; }
h3,.h3 { font-size: 1.2em; }
h4,.h4 { font-size: 1.1em; }
h5,.h5 { font-size: 1.0em; }
h6,.h6 { font-size: 0.8em; }
body {  }
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
}

.grow-5, .grow-10, .grow-20, .grow-30, .grow-40, .grow-50 > svg {
	-webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out; 
	margin: 5px;
	display: inline-block;
}
.grow-5:hover { -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -o-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); }
.grow-10:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
.grow-20:hover { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.grow-30:hover { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); }
.grow-40:hover { -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); transform: scale(1.4); }
.grow-50:hover { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }

input[type=text], input[type=radio], input[type=checkbox], textarea {
	-webkit-transition: all 0.50s ease-in;
	-moz-transition: all 0.50s ease-in;
	-ms-transition: all 0.50s ease-in;
	-o-transition: all 0.50s ease-in;
	outline: none;
}
.glowSuccess, .lueurSucces {
	box-shadow: 0 0 5px 3px rgba(0, 200, 30, 1);
	border: 1px solid rgba(0, 200, 30, 1);
}
.glowError, .lueurErreur {
	box-shadow: 0 0 5px 3px rgba(215, 0, 0, 1);
	border: 1px solid rgba(215, 0, 0, 1);
}

.date-picker { z-index: 1; }

.site-section-top { 
	z-index: 2; 
	background-color: white; 
	padding-top: 5px;
	padding-bottom: 5px;
}
.site-section-all { padding-bottom: 1000px; }
.site-section-above {  position: relative; z-index: 1; background-color: white; background-repeat: repeat; }
.site-section-primary {  min-height: 100%; }
.site-section-contact { z-index: 0; position: fixed; right: 0; bottom: 0; left: 0; height: 1600px; padding-top: 1200px; text-align: center; }
@media (max-width:992px){ .site-section-contact { padding-top: 1300px; }}
@media (max-width:600px){ .site-section-contact { padding-top: 1000px; }}

.site-value-delete-button {
	display: flex;
	align-items: center;
}
.site-small-svg {
	width: 25px; 
	height: 25px;
}
.site-landownerVoucher-svg {
	width: 35px; 
	height: 35px;
}
.site-landownerTag-svg {
	width: 35px; 
	height: 35px;
}
.site-value-delete-svg {
	width: 35px; 
	height: 35px;
}
.site-svg, .site-animal-svg, .site-outfitter-svg, .site-hunt-svg, .site-location-svg {
	width: 40px; 
	height: 40px;
}
.display-flex-align-items-center {
	display: flex;
	align-items: center;
}
.w3-check {
	border-color: black; 
}
textarea {
	height: 200px;
}
.blog-publication-social-div { margin-top: 15px; }
.blog-publication-social-img { max-width: 50px; }
.blog-publication-social-cell { height: 137px; }

.site-card {
	min-height: 300px;
	display: block;
	text-decoration: none;
}
.site-card:hover {
	color: #199a19;
}
.site-card-img-div {
	max-height: 200px;
	overflow: hidden;
	display: block;
}
.site-card-img { 
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	width: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
}
.site-card-title {
	font-weight: bold; 
	font-size: 1.2em;
	display: block;
}
.mySlides {
	display:none;
	width: 100%; 
}
.site-right-bar { 
	width: 25%; 
	right: 0; 
	float: right; 
	text-align: right;
}
.site-slideshow-div1 {
	max-width: 500px; 
	height: 500px; 
	margin: 0 auto; 
	overflow: hidden; 
}
.site-slideshow-div2 {
	max-width: 500px; 
	margin: 0 auto; 
	overflow: hidden;
}
.site-slideshow-img1 {
	width: 100%; 
}
.site-slideshow-img2 {
	width: 100%; 
	cursor: pointer;
}
.site-slideshow-img2-div {
	height: 100px; 
	overflow: hidden;
}
.site-a-attribuer { 
	display: inline-block; min-width: 6em; min-height: 1em;
}
.site-menu-icon {
	padding-right: 5px;
}
