openapi: 3.0.0
info:
  title: "computate-scolaire"
  version: 3.0.0
servers:
  - url: https://scolaire.computate.org:11280
paths:
  /api/utilisateur:
    patch:
      operationId: patchUtilisateurSite
      x-vertx-event-bus: frFRUtilisateurSite
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHUtilisateurSiteRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHUtilisateurSiteReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /utilisateur:
    get:
      operationId: recherchepageUtilisateurSite
      x-vertx-event-bus: frFRUtilisateurSite
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RecherchePageUtilisateurSiteReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/cluster:
    get:
      operationId: rechercheCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    post:
      operationId: postCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/POSTClusterRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/POSTClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    patch:
      operationId: patchCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHClusterRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/cluster/{id}:
    get:
      operationId: getCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/GETClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    delete:
      operationId: deleteCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/DELETEClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /enUS/cluster:
    get:
      operationId: rechercheenuspageCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheEnUSPageClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /frFR/cluster:
    get:
      operationId: recherchefrfrpageCluster
      x-vertx-event-bus: frFRCluster
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheFrFRPageClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/ecole:
    patch:
      operationId: patchEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHEcoleRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    post:
      operationId: postEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/POSTEcoleRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/POSTEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/ecole/{id}:
    get:
      operationId: getEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/GETEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    delete:
      operationId: deleteEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/DELETEEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /enUS/school:
    get:
      operationId: rechercheenuspageEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheEnUSPageEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /frFR/ecole:
    get:
      operationId: recherchefrfrpageEcole
      x-vertx-event-bus: frFREcole
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheFrFRPageEcoleReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/mission:
    get:
      operationId: rechercheMissionScolaire
      x-vertx-event-bus: frFRMissionScolaire
      description: >+
      summary: >+
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheMissionScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    post:
      operationId: postMissionScolaire
      x-vertx-event-bus: frFRMissionScolaire
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/POSTMissionScolaireRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/POSTMissionScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    patch:
      operationId: patchMissionScolaire
      x-vertx-event-bus: frFRMissionScolaire
      description: >+
      summary: >+
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHMissionScolaireRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHMissionScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/mission/{id}:
    get:
      operationId: getMissionScolaire
      x-vertx-event-bus: frFRMissionScolaire
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/GETMissionScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    delete:
      operationId: deleteMissionScolaire
      x-vertx-event-bus: frFRMissionScolaire
      description: >+
      summary: >+
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/DELETEMissionScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
components:
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://auth.computate.org/auth/realms/computate.org/.well-known/openid-configuration
  requestBodies:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PATCHUtilisateurSiteRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHUtilisateurSiteRequete'
    PATCHUtilisateurSiteReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHUtilisateurSiteReponse'
    RecherchePageUtilisateurSiteReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RecherchePageUtilisateurSiteReponse'
    RechercheClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheClusterReponse'
    POSTClusterRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTClusterRequete'
    POSTClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/POSTClusterReponse'
    PATCHClusterRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHClusterRequete'
    PATCHClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHClusterReponse'
    GETClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/GETClusterReponse'
    DELETEClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/DELETEClusterReponse'
    RechercheEnUSPageClusterReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheEnUSPageClusterReponse'
    RechercheFrFRPageClusterReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheFrFRPageClusterReponse'
    PATCHEcoleRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHEcoleRequete'
    PATCHEcoleReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHEcoleReponse'
    POSTEcoleRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTEcoleRequete'
    POSTEcoleReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/POSTEcoleReponse'
    GETEcoleReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/GETEcoleReponse'
    DELETEEcoleReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/DELETEEcoleReponse'
    RechercheEnUSPageEcoleReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheEnUSPageEcoleReponse'
    RechercheFrFRPageEcoleReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheFrFRPageEcoleReponse'
    RechercheMissionScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheMissionScolaireReponse'
    POSTMissionScolaireRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTMissionScolaireRequete'
    POSTMissionScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/POSTMissionScolaireReponse'
    PATCHMissionScolaireRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHMissionScolaireRequete'
    PATCHMissionScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHMissionScolaireReponse'
    GETMissionScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/GETMissionScolaireReponse'
    DELETEMissionScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/DELETEMissionScolaireReponse'
  schemas:
    PATCHUtilisateurSiteRequete:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterRequete"
        - type: object
          properties:
            utilisateurId:
              type: string
            calculInrPks:
              type: array
              items:
                type: number
            utilisateurNom:
              type: string
            utilisateurMail:
              type: string
            utilisateurPrenom:
              type: string
            utilisateurNomFamille:
              type: string
            utilisateurNomComplet:
              type: string
            utilisateurSite:
              type: string
            utilisateurRecevoirCourriels:
              type: boolean
            voirArchive:
              type: boolean
            voirSupprime:
              type: boolean
    PATCHUtilisateurSiteReponse:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterReponse"
        - type: object
          properties:
            utilisateurId:
              type: string
            calculInrPks:
              type: array
              items:
                type: number
            utilisateurNom:
              type: string
            utilisateurMail:
              type: string
            utilisateurPrenom:
              type: string
            utilisateurNomFamille:
              type: string
            utilisateurNomComplet:
              type: string
            utilisateurSite:
              type: string
            utilisateurRecevoirCourriels:
              type: boolean
            voirArchive:
              type: boolean
            voirSupprime:
              type: boolean
    RecherchePageUtilisateurSiteReponse:
      allOf:
        - type: string
    RechercheClusterReponse:
      allOf:
        - type: array
          items:
            type: object
            properties:
              pk:
                type: number
              id:
                type: string
              cree:
                type: string
                format: date-time
              modifie:
                type: string
                format: date-time
              archive:
                type: boolean
              supprime:
                type: boolean
              classeNomCanonique:
                type: string
              classeNomSimple:
                type: string
              classeNomsCanoniques:
                type: array
                items:
                  type: string
    POSTClusterRequete:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    POSTClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    PATCHClusterRequete:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    PATCHClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    GETClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    DELETEClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            archive:
              type: boolean
            supprime:
              type: boolean
            classeNomCanonique:
              type: string
            classeNomSimple:
              type: string
            classeNomsCanoniques:
              type: array
              items:
                type: string
    RechercheEnUSPageClusterReponse:
      allOf:
        - type: string
    RechercheFrFRPageClusterReponse:
      allOf:
        - type: string
    PATCHEcoleRequete:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterRequete"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    PATCHEcoleReponse:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    POSTEcoleRequete:
      allOf:
        - $ref: "#/components/schemas/POSTClusterRequete"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    POSTEcoleReponse:
      allOf:
        - $ref: "#/components/schemas/POSTClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    GETEcoleReponse:
      allOf:
        - $ref: "#/components/schemas/GETClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    DELETEEcoleReponse:
      allOf:
        - $ref: "#/components/schemas/DELETEClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAdministrateurNom:
              type: string
            ecoleAddresse:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    RechercheEnUSPageEcoleReponse:
      allOf:
        - type: string
    RechercheFrFRPageEcoleReponse:
      allOf:
        - type: string
    RechercheMissionScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/RechercheClusterReponse"
        - type: array
          items:
            type: object
            properties:
              missionNom:
                type: string
              ecoleNumeroTelephone:
                type: string
              missionId:
                type: string
              pageUri:
                type: string
    POSTMissionScolaireRequete:
      allOf:
        - $ref: "#/components/schemas/POSTClusterRequete"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    POSTMissionScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/POSTClusterReponse"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    PATCHMissionScolaireRequete:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterRequete"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    PATCHMissionScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterReponse"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    GETMissionScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/GETClusterReponse"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    DELETEMissionScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/DELETEClusterReponse"
        - type: object
          properties:
            missionNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            missionId:
              type: string
            pageUri:
              type: string
    ErrorResponse:
      required:
        - type
        - code
      properties:
        type:
          type: string
          enum:
            - ERROR
            - WARN
            - INVALID
            - FATAL
          description: >+
            <br>invalid - Request did not confirm to the specification and was
            unprocessed & rejected. Please fix the value and try again</br>       
            <br>warn - Request was partially processed.  E.g. some of the fields
            are missing in response to the system issues,  request was accepted
            successfully but will be processed asynchronously</br>                
            <br>error - The request was accepted but could not be processed
            successfully</br>            <br>fatal - There was an internal system
            error while processing the request. These are technical errors and
            will be resolved by Citi, and the consumer should retry after some
            time. Business errors will not be categorized as fatal </br>
        code:
          type: string
          description: Error code which qualifies the error. 
        details:
          type: string
          description: Human readable explanation specific to the occurrence of the problem. 
        location:
          type: string
          description: The name of the field that resulted in the error. 
        moreInfo:
          type: string
          description: URI to human readable documentation of the error. 
