openapi: 3.0.0
info:
  title: "computate-scolaire"
  version: 3.0.0
servers:
  - url: https://scolaire.computate.org:11280
paths:
  /api/v1/ecole:
    get:
      operationId: rechercheEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    post:
      operationId: postEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/POSTEcoleScolaireRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/POSTEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    patch:
      operationId: patchEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHEcoleScolaireRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/v1/ecole/{id}:
    get:
      operationId: getEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/GETEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    delete:
      operationId: deleteEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/DELETEEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /ecole:
    get:
      operationId: recherchepageEcoleScolaire
      x-vertx-event-bus: EcoleScolaire
      security:
        - openIdConnect:
          - SiteAdmin
      description: >+
      summary: >+
      tags:
        - EcoleScolaire
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            text/html; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RecherchePageEcoleScolaireReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/v1/warfarin/cluster:
    get:
      operationId: rechercheCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      parameters:
        - in: query
          name: q
          description: ''
          required: false
          schema:
            type: string
            default: '*:*'
        - in: query
          name: fq
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: fl
          description: ''
          required: false
          schema:
            type: string
        - in: query
          name: sort
          description: ''
          required: false
          schema:
            type: array
            items:
                type: string
        - in: query
          name: start
          description: ''
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - in: query
          name: rows
          description: ''
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/RechercheClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    post:
      operationId: postCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/POSTClusterRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/POSTClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    patch:
      operationId: patchCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PATCHClusterRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PATCHClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
  /api/v1/warfarin/cluster/{id}:
    get:
      operationId: getCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/GETClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    put:
      operationId: putCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      requestBody:
        description: >+
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/PUTClusterRequete'
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/PUTClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
    delete:
      operationId: deleteCluster
      x-vertx-event-bus: Cluster
      description: >+
      summary: >+
      tags:
        - Cluster
      parameters:
        - name: id
          in: path
          description: >+
          required: true
          schema:
            type: string
      responses:
        '200':
          description: >+
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/requestBodies/DELETEClusterReponse'
        '400':
          description: >+
                <table><table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>invalidRequest</td><td>Missing
                or invalid Parameters</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '401':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>error</td><td>unAuthorized</td><td>Authorization
                credentials are missing or invalid</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '403':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>accessNotConfigured</td><td>The
                request operation is not configured to access this
                resource</td><td>Channel/Country/Business provided in the request is
                not supported currently</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '404':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td><td>More
                Info</td></tr><tr><td>error</td><td>resourceNotFound</td><td>The
                requested resource was not found</td><td>Empty resource/resource not
                found</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
        '500':
          description: >+
                <table><tr><td>Type</td><td>Code</td><td>Details</td></tr><tr><td>fatal</td><td>serverUnavailable</td><td>The
                request failed due to an internal error/server
                unavailability</td></tr></table>
          content:
            application/json:
              schema:
                $ref: '#/components/requestBodies/ErrorResponse'
components:
  securitySchemes:
    openIdConnect:
      type: openIdConnect
      openIdConnectUrl: https://auth.computate.org/auth/realms/computate.org/.well-known/openid-configuration
  requestBodies:
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RechercheEcoleScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheEcoleScolaireReponse'
    POSTEcoleScolaireRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTEcoleScolaireRequete'
    POSTEcoleScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/POSTEcoleScolaireReponse'
    PATCHEcoleScolaireRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHEcoleScolaireRequete'
    PATCHEcoleScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHEcoleScolaireReponse'
    GETEcoleScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/GETEcoleScolaireReponse'
    DELETEEcoleScolaireReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/DELETEEcoleScolaireReponse'
    RecherchePageEcoleScolaireReponse:
      content:
        text/html; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RecherchePageEcoleScolaireReponse'
    RechercheClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/RechercheClusterReponse'
    POSTClusterRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTClusterRequete'
    POSTClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/POSTClusterReponse'
    PATCHClusterRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PATCHClusterRequete'
    PATCHClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PATCHClusterReponse'
    GETClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/GETClusterReponse'
    PUTClusterRequete:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PUTClusterRequete'
    PUTClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/PUTClusterReponse'
    DELETEClusterReponse:
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/DELETEClusterReponse'
  schemas:
    RechercheEcoleScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/RechercheClusterReponse"
        - type: array
          items:
            type: object
            properties:
              ecoleCle:
                type: number
              enfantCles:
                type: array
                items:
                  type: number
              blocCles:
                type: array
                items:
                  type: number
              groupeAgeCles:
                type: array
                items:
                  type: number
              sessionCles:
                type: array
                items:
                  type: number
              saisonCles:
                type: array
                items:
                  type: number
              anneeCles:
                type: array
                items:
                  type: number
              supprime:
                type: boolean
              archive:
                type: boolean
              scolaireTri:
                type: number
              ecoleTri:
                type: number
              ecoleNom:
                type: string
              ecoleNumeroTelephone:
                type: string
              ecoleAddresse:
                type: string
              ecoleAdministrateurNom:
                type: string
              objetSuggerePoids:
                type: number
              objetSuggere:
                type: string
              ecoleNomCourt:
                type: string
              ecoleId:
                type: string
              pageUri:
                type: string
    POSTEcoleScolaireRequete:
      allOf:
        - $ref: "#/components/schemas/POSTClusterRequete"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    POSTEcoleScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/POSTClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    PATCHEcoleScolaireRequete:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterRequete"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    PATCHEcoleScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/PATCHClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    GETEcoleScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/GETClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    DELETEEcoleScolaireReponse:
      allOf:
        - $ref: "#/components/schemas/DELETEClusterReponse"
        - type: object
          properties:
            ecoleCle:
              type: number
            enfantCles:
              type: array
              items:
                type: number
            blocCles:
              type: array
              items:
                type: number
            groupeAgeCles:
              type: array
              items:
                type: number
            sessionCles:
              type: array
              items:
                type: number
            saisonCles:
              type: array
              items:
                type: number
            anneeCles:
              type: array
              items:
                type: number
            supprime:
              type: boolean
            archive:
              type: boolean
            scolaireTri:
              type: number
            ecoleTri:
              type: number
            ecoleNom:
              type: string
            ecoleNumeroTelephone:
              type: string
            ecoleAddresse:
              type: string
            ecoleAdministrateurNom:
              type: string
            objetSuggerePoids:
              type: number
            objetSuggere:
              type: string
            ecoleNomCourt:
              type: string
            ecoleId:
              type: string
            pageUri:
              type: string
    RecherchePageEcoleScolaireReponse:
      allOf:
        - type: string
    RechercheClusterReponse:
      allOf:
        - type: array
          items:
            type: object
            properties:
              pk:
                type: number
              id:
                type: string
              supprime:
                type: boolean
              utilisateurId:
                type: string
              cree:
                type: string
                format: date-time
              modifie:
                type: string
                format: date-time
              clusterNomCanonique:
                type: string
              clusterNomSimple:
                type: string
    POSTClusterRequete:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    POSTClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    PATCHClusterRequete:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    PATCHClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    GETClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    PUTClusterRequete:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    PUTClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    DELETEClusterReponse:
      allOf:
        - type: object
          properties:
            pk:
              type: number
            id:
              type: string
            supprime:
              type: boolean
            utilisateurId:
              type: string
            cree:
              type: string
              format: date-time
            modifie:
              type: string
              format: date-time
            clusterNomCanonique:
              type: string
            clusterNomSimple:
              type: string
    ErrorResponse:
      required:
        - type
        - code
      properties:
        type:
          type: string
          enum:
            - ERROR
            - WARN
            - INVALID
            - FATAL
          description: >+
            <br>invalid - Request did not confirm to the specification and was
            unprocessed & rejected. Please fix the value and try again</br>       
            <br>warn - Request was partially processed.  E.g. some of the fields
            are missing in response to the system issues,  request was accepted
            successfully but will be processed asynchronously</br>                
            <br>error - The request was accepted but could not be processed
            successfully</br>            <br>fatal - There was an internal system
            error while processing the request. These are technical errors and
            will be resolved by Citi, and the consumer should retry after some
            time. Business errors will not be categorized as fatal </br>
        code:
          type: string
          description: Error code which qualifies the error. 
        details:
          type: string
          description: Human readable explanation specific to the occurrence of the problem. 
        location:
          type: string
          description: The name of the field that resulted in the error. 
        moreInfo:
          type: string
          description: URI to human readable documentation of the error. 
