appliNom = computate-scolaire

[maven]
versionMaven = 3.5.2

[zookeeper]
versionZookeeper = 3.5.3
#prefixePortZookeeper = 102
#portClientZookeeper = 10281
#portAdminZookeeper = 10280

[solr]
versionSolr = 7.1.0
#prefixePortSolr = 103
#portSolr = 10383
#urlSolr = http://localhost:10383/solr

[computate-scolaire]
langueNom=frFR
appliChemin_enUS=/usr/local/src/computate-scolaire
nomDomaine=idahoheartinstitute.com
nomEnsembleDomaine=org.computate.scolaire.frFR
#autresLangues=enUS
suffixeSrcMainJava=/src/main/java
suffixeSrcGenJava=/src/gen/java
cheminsRelatifsARegarder=src/main/java/org/computate/frFR
nomEntreprise=Idaho Heart Institute
siteCrypte=true
jdbcUrl="jdbc:postgresql://localhost:5432/scolaire"
jdbcUtilisateur=scolaire
jdbcMotDePasse="u%ak5g4\vdP$f2UY"
siteNomHote=scolaire.heytate.com
siteUrlBase=https://scolaire.heytate.com:8080
authRoyaume=heytate.com
authRessource=heytate.com
authSecret=eca1c897-f054-4eef-99a3-66de89f8aed0
authUrl=https://auth.computate.org/auth
authSslRequis=all
sslJksChemin=/srv/heytate.com/server.jks
sslJksMotDePasse="T@wgf77q~=3t^KtY"
selCryptage=asoi352tgbnrj64
sitePort=8080
motDePasseCryptage=bobno3i4867fh3sqq
solrUrl=http://localhost:10383/solr/scolaire
solrUrlComputate=http://localhost:10383/solr/computate
apiContactMail=ctate@redhat.com
siteEcrireMethodes=html
siteEcrireMethodes=htmlMeta
siteEcrireMethodes=htmlScripts
siteEcrireMethodes=htmlScript
siteEcrireMethodes=htmlStyles
siteEcrireMethodes=htmlStyle
siteEcrireMethodes=htmlBody
#siteEcrireMethodes=htmlForm

